{% extends 'base.html' %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
<style>
    .navbar-first {
        height: 100px;
    }

    .navbar-brand {
        font-family: 'Plus Jakarta Sans', sans-serif;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bolder;
        font-size: 40px;
    }

    .navbar-tagline {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        font-style: italic;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 72px;
    }

    .nav-link.active {
        color: white;
        text-decoration: underline;
    }

    .btn-logout {
        background-color: #343a40;
        color: white;
        border: 1px solid black;
        transition: background-color 0.3s, color 0.3s;
    }

    /* Gaya tombol Logout saat dihover */
    .btn-logout:hover {
        background-color: red; /* Warna merah saat dihover */
        color: white; /* Teks tetap putih saat dihover */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-first">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'main:show_main' %}">GEDE-Books</a>
        <div class="navbar-tagline">Great Educational, Diverse, & Entertaining Books</div>

        <!-- Right side items -->
        <ul class="navbar-nav ml-auto">
            <div class="d-flex justify-content-end">
                <a href="{% url 'main:cart_view' %}" class="mr-3">
                    <i class="fas fa-shopping-cart" style="color: black;"></i>
                </a>
                <span style="margin-right: 15px;">
                    Hi, <strong>{{ name }}</strong>!</br>
                </span>
                <a href="{% url 'main:logout' %}">
                  <button class="btn btn-outline-success btn-logout" type="submit" style="border-color: red;">Log Out</button>
                </a>
            </div>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-12 mt-3 text-center align-items-center" style="color: white;font-size: x-large;display: flex;align-items: center;justify-content: center;height: 50px;">
        Keranjang Belanja
    </div>
</nav>


<div class="col-12">

    <main class="row">
        <div class="col-12 bg-white py-3 mb-3">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto table-responsive">
                    <form class="row">
                        <div class="col-12">
                            <table class="table table-striped table-hover table-sm">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order.orderitem_set.all %}
                                <tr>
                                    <td>
                                        {{ item.product.image_url }}
                                        {{ item.product.title }}
                                    </td>
                                    <td>
                                        Rp. {{ item.product.price }}
                                    </td>
                                    <td>
                                        {{ item.quantity }}
                                    </td>
                                    <td>
                                        Rp. {{ item.get_total_price }}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primary add-quantity">+</button>
                                        <button class="btn btn-sm btn-danger remove-quantity">-</button>
                                    </td>
                                    <td>
                                        <a href="{% url 'main:remove_from_cart' item.product.id %}" class="btn btn-link text-danger"><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="3" class="text-right">Total</th>
                                    <th>Rp. {{ order.get_total }}</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-12 text-right">
                            <a href="{% url 'main:show_main' %}" class="btn btn-outline-none">Back</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">
                                Checkout
                            </button>

                            <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form method="post" action="{% url 'main:checkout_view' %}">
                                        {% csrf_token %}
                                        {{ checkout_form.as_p }}
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Proceed</button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
    $('.add-quantity').click(function() {
        var row = $(this).closest('tr');
        var itemId = row.data('item-id');
        var quantity = row.find('.quantity').text();
        quantity = parseInt(quantity) + 1;
        
        $.ajax({
            url: '/update_quantity/',
            method: 'POST',
            data: {
                'item_id': itemId,
                'new_quantity': quantity,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                row.find('.quantity').text(quantity);
            },
            error: function(response) {
                alert("Terjadi kesalahan saat mengubah jumlah item.");
            }
        });
    });

    $('.remove-quantity').click(function() {
        var row = $(this).closest('tr');
        var itemId = row.data('item-id');
        var quantity = row.find('.quantity').text();
        quantity = parseInt(quantity) - 1;
        
        if (quantity < 1) {
            quantity = 1;
        }
        
        $.ajax({
            url: '/update_quantity/', 
            method: 'POST',
            data: {
                'item_id': itemId,
                'new_quantity': quantity,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {

                row.find('.quantity').text(quantity);
            },
            error: function(response) {
                alert("Terjadi kesalahan saat mengubah jumlah item.");
            }
        });
    });
});

</script>

{% endblock content %}
