{% extends 'base.html' %}

{% block content %}
    <h1>Dummy Header GEDE-Books</h1>

    {% for product in products %}
        <h5>Judul: </h5>
        <p>{{ product.title }}<p>
        {% if product.image_url %}
            <img src="{{ product.image_url }}" height="200">
        {% endif %}
        <h5>Bahasa: </h5>
        <p>{{ product.language }}<p>
        <h5>Penulis: </h5>
        <p>{{ product.firstName }} {{ product.lastName }}<p>
        <h5>Tahun: </h5>
        <p>{{ product.year }}<p>
        <h5>Topik: </h5>
        <p>{{ product.subjects }}<p>
        <h5>Kategori: </h5>
        <p>{{ product.category }}<p>
        <hr>
    {% endfor %}

{% endblock content %}