{% extends 'base.html' %}

{% block content %}

<link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

<style>
    .navbar-first {
        height: 100px;
    }

    .navbar-brand {
        font-family: 'Plus Jakarta Sans', sans-serif;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bolder;
        font-size: 40px;
    }

    .navbar-tagline {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        font-style: italic;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 72px;
    }

    .nav-link.active {
        color: white;
        text-decoration: underline;
    }

    .navbar-nav.mr-auto {
        width: 100%;
    }

    .navbar-nav.mr-auto .nav-item {
        flex: 1;
        text-align: center; /* agar teks di tengah-tengah nav-item */
    }

    .nav-link.active {
        color: white;
        text-decoration: underline;
    }

    .btn-login {
        background-color: #343a40;
        color: white;
        border: 1px solid black;
        transition: background-color 0.3s, color 0.3s;
    }

    /* Gaya tombol Login saat dihover */
    .btn-login:hover {
        background-color: darkgreen; /* Warna merah saat dihover */
        color: white; /* Teks tetap putih saat dihover */
    }

    .btn-logout {
        background-color: #343a40;
        color: white;
        border: 1px solid black;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-logout:hover {
        background-color: red;
        color: white;
    }

    .btn-keranjang {
        margin-top: 20px;
        margin-right: 10px;
        background-color: #343a40;
        color: white;
        border: 1px solid #343a40;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-keranjang:hover {
        background-color: #1f00bb;
        border: 1px solid #000000;
    }

    .btn-wishlist {
        margin-top: 20px;
        margin-right: 10px;
        background-color: white;
        color: #343a40;
        border: 1px solid #343a40;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-wishlist:hover {
        background-color: rgb(255, 36, 62);
        color: white;
        border: 1px solid red;
    }

    .product-details {
        display: flex;
        border: 1px solid darkgrey;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .product-details img {
        max-width: 300px;
        margin-right: 30px;
    }

    .product-details-content {
        flex: 1;
    }

    .star {
        color: gold;
    }

    .rating-text {
        margin-left: 5px;
    }

    .product-details {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .product-details img {
        margin-right: 30px;
        height: 250px;
    }

    .product-details-content {
        flex: 1;
    }

    .price {
        font-size: 36px;
        font-weight: bold;
        color: #343a40;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-first">
    <div class="container-fluid">

        <!-- Search Bar -->
        <form class="form-inline my-2 my-lg-0 mr-auto position-relative" id="productSearchForm" method="get" action="{% url 'main:show_main' %}">
            <input class="form-control mr-sm-2 pl-4 pr-5 search-input" type="text" name="{{ search_form.query.name }}" placeholder="Cari buku apa?" aria-label="Search" style="border-radius: 20px;">
            <button class="btn btn-outline-none position-absolute" type="submit" style="right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none;">
                <i class="fas fa-search"></i>
            </button>
        </form>

        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'main:show_main' %}">GEDE-Books</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'main:show_guest' %}">GEDE-Books</a>
        {% endif %}
        <div class="navbar-tagline">Great Educational, Diverse, & Entertaining Books</div>

        <!-- Right side items -->
        <ul class="navbar-nav">
            <div class="ms-auto d-flex align-items-center">
                <a href="{% url 'main:wishlist_view' %}" class="mr-3">
                    <i class="fas fa-heart" style="color: black;"></i>
                </a>
                <a href="{% url 'main:cart_view' %}" class="mr-3">
                    <i class="fas fa-shopping-cart" style="color: black;"></i>
                </a>
                {% if request.user.is_authenticated %}
                    <span style="margin-right: 15px;">
                        Happy shopping, <strong>{{ name }}</strong>!</br>
                        <small>Last login: {{ last_login }}</small>
                    </span>
                    <a href="{% url 'main:logout' %}">
                      <button class="btn btn-outline-success btn-logout" type="submit" style="border-color: red;">Log Out</button>
                    </a>
                {% else %}
                    <a href="{% url 'main:login' %}">
                      <button class="btn btn-outline-success btn-login" type="submit" style="border-color: darkgreen;">Login</button>
                    </a>
                {% endif %}
            </div>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto d-flex justify-content-between">
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Politics' %}active{% endif %}" 
                   href="{% if selected_category == 'Politics' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Politics{% endif %}">
                   Politics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Children\'s Literature' %}active{% endif %}" 
                   href="{% if selected_category == 'Children\'s Literature' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Children's Literature{% endif %}">
                   Children
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Adventure' %}active{% endif %}" 
                   href="{% if selected_category == 'Adventure' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Adventure{% endif %}">
                   Adventure
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Horror' %}active{% endif %}" 
                   href="{% if selected_category == 'Horror' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Horror{% endif %}">
                   Horror
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Movie Books' %}active{% endif %}" 
                   href="{% if selected_category == 'Movie Books' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Movie Books{% endif %}">
                   Movie
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Science Fiction' %}active{% endif %}" 
                   href="{% if selected_category == 'Science Fiction' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Science Fiction{% endif %}">
                   Sci-Fi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Humorous stories' %}active{% endif %}" 
                   href="{% if selected_category == 'Humorous stories' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Humorous stories{% endif %}">
                   Humorous
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected_category == 'Love stories' %}active{% endif %}" 
                   href="{% if selected_category == 'Love stories' %}{% url 'main:show_main' %}{% else %}{% url 'main:show_main' %}?category=Love stories{% endif %}">
                   Love
                </a>
            </li>
            <!-- Other items... -->
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="product-details">
        <!-- Product Image -->
        {% if product.image_url %}
            <img src="{{ product.image_url }}" alt="{{ product.title }}">
        {% endif %}

        <div class="product-details-content">
            <h2>{{ product.title }}</h2>
            <p class="price">Rp. {{ product.price }},-</p>
            {% if user.is_authenticated %}
                <button class="btn btn-outline-success btn-keranjang add-to-cart-btn" data-product-id="{{ product.id }}">+ Keranjang</button>
            {% else %}
                <a href="{% url 'main:login' %}">
                    <button class="btn btn-outline-success btn-keranjang">+ Keranjang</button>
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                <button class="btn btn-outline-success btn-wishlist" data-product-id="{{ product.id }}">♡ Wishlist</button>
            {% else %}
                <a href="{% url 'main:login' %}">
                    <button class="btn btn-outline-success btn-wishlist">♡ Wishlist</button>
                </a>
            {% endif %}
            <p class="card-text" style="margin-top: 10px;"><span style="color: gold;">&#9733;</span> {{ product.rating }}</p>
        </div>        
    </div>

    <!-- Product Details -->
    <div class="mt-4">
        <h5>Bahasa: </h5>
        <p>{{ product.language }}</p>
    
        <h5>Penulis: </h5>
        <p>{{ product.firstName }} {{ product.lastName }}</p>
    
        <h5>Tahun: </h5>
        <p>{{ product.year }}</p>
    
        <h5>Topik: </h5>
        <p>{{ product.subjects }}</p>
    
        <h5>Kategori: </h5>
        {% if product.category == " " %}
            <p>-</p>
        {% else %}
            <p>{{ product.category }}</p>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(".add-to-cart-btn").click(function(event) {
    event.preventDefault(); 

    const productId = $(this).data('product-id');

    $.ajax({
        url: '{% url "main:add_to_cart" product.id %}',
        method: 'POST',
        data: {
            'product_id': productId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            if(response.status === 'success') {
                alert(response.message);
            }
        },
        error: function(response) {
            alert("Terjadi kesalahan saat menambahkan ke keranjang.");
        }
    });
});

    $(".btn-wishlist").click(function(event) {
    event.preventDefault(); 

    const productId = $(this).data('product-id');

    $.ajax({
        url: '{% url "main:add_to_wishlist" product.id %}',
        method: 'POST',
        data: {
            'product_id': productId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            if(response.status === 'success') {
                alert(response.message);
            }
        },
        error: function(response) {
            alert("Terjadi kesalahan saat menambahkan ke wishlist.");
        }
    });
});

</script>
{% endblock content %}
